<div class="add-items d-flex"> <input type="text" class="form-control todo-list-input" name="task" id="task" placeholder="Add new task" on-input('handleInput')> <button type="submit" class="add btn btn-primary font-weight-bold todo-list-add-btn" on-click('handleClick')>Add</button> </div>
