<!-- <button on-click('goTo')> Add </button> -->

<for |todo| of=state.allData>
  <li key=todo._id>
      <div class="form-check"> <label class="form-check-label"> <input class="checkbox" type="checkbox"> ${todo.task} <i class="input-helper"></i></label> </div> <i class="remove mdi mdi-close-circle-outline delete-icon" id=todo._id></i>
  </li>
</for>